{% extends 'base.html' %}

{% load static %}

{% block content %}
<input type="search" class="quick-search" placeholder="Recherche rapide">
<section id="actions">
    <a href="{% url 'add_book' %}">
        <div id="add-book">
            <h1>Ajouter un livre</h1>
        </div>
    </a>
    <a href="{% url 'search' %}">
        <div id="full-search">
            <h1>Catalogue</h1>
        </div>
    </a>
    <a href="{% url 'return_book' %}">
        <div id="return-book">
            <h1>Rendre un livre</h1>
        </div>
    </a>
</section>
{% endblock %}